<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body class="bg-gray-100 font-sans antialiased">
    <div class="flex">
        <% include ../partials/sidebarAdmin %> <!-- Sidebar tetap di sisi kiri -->
            <div class="flex-1 p-6">
                <div class="container mx-auto bg-white p-6 rounded-lg shadow-md mt-8">
                    <h1 class="text-3xl font-bold mb-6 text-gray-800">Admin Dashboard</h1>
                    <p class="text-gray-600">Selamat datang, Admin!</p>
                </div>
            </div>
    </div>
</body>

</html>