<div class="bg-orange-500 h-screen w-64 flex flex-col items-start p-4 text-white">
    <div class="flex items-center mb-6">
        <img src="/images/logoSerasi.png" alt="SERASI Logo" class="w-12 h-12 mr-2">
        <div>
            <h1 class="text-lg font-bold tracking-wide">SERASI</h1>
            <p class="text-sm font-medium">ADMIN</p>
        </div>
    </div>
    <nav class="flex flex-col space-y-2 w-full">
        <a href="/admin/dashboard"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">

            <span class="material-icons text-lg">dashboard</span>
            <span class="text-sm font-medium">Dashboard</span>
        </a>
        <a href="/admin/list"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">person_add</span>
            <span class="text-sm font-medium"> Anggota Rapat</span>
        </a>
        <a href="/rapat"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">event</span>
            <span class="text-sm font-medium">Rapat</span>
        </a>
        <a href="/notulensi"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">edit</span>
            <span class="text-sm font-medium">Notulensi</span>
        </a>
        <a href="/jadwal"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">calendar_today</span>
            <span class="text-sm font-medium">Jadwal</span>
        </a>
        <a href="/riwayat"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">history</span>
            <span class="text-sm font-medium">Riwayat</span>
        </a>
        <a href="/arsip"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">archive</span>
            <span class="text-sm font-medium">Arsip</span>
        </a>
        <a href="/draft"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">drafts</span>
            <span class="text-sm font-medium">Draft</span>
        </a>
        <a href="/logout"
            class="flex items-center space-x-3 hover:bg-orange-600 p-3 rounded transition duration-300 w-full">
            <span class="material-icons text-lg">logout</span>
            <span class="text-sm font-medium">Logout</span>
        </a>
    </nav>
</div>